In [1]:
from pathlib import Path
import pandas as pd

In [3]:
train_df = pd.read_csv("~/datasets/masc/train/clean_train.csv")
train_df.head()

,video_id,category,video_duration,channel_id,country,dialect,gender,transcript_duration
0,cwQtgQjZzz4,['News & Politics'],78,UClIjKh_JzA8Vgr0v6UqwdPQ,AT,MSA,Male,65.280000
1,5g_gYjrsuT8,['People & Blogs'],90,UCKQIefGkPnb0URKnkJdAs6A,SA,MSA,Male,78.204444
2,BzTDdeRNX0A,['People & Blogs'],223,UCSky_qvTeoO-c4AHsUSLxWw,DZ,MSA,Male,164.977778
3,d7ouP5Ce2aE,['People & Blogs'],605,UC3KGR_wGSNuOozXe7qxEV-A,ES,MSA,Male,496.622222
4,E6E1DuAPer0,['Education'],201,UC5hQOOQ7atQ9ZX57eZ_FHgw,SA,MSA,Male,163.377778

In [9]:
len(train_df.channel_id.unique())

262

In [24]:
one_videos = train_df.channel_id.value_counts() == 1
one_video_df = train_df[train_df.channel_id.isin(one_videos[one_videos == True].index)]

In [25]:
one_video_df.transcript_duration.sum() / 3600

4.275733086419753

In [26]:
one_video_df

,video_id,category,video_duration,channel_id,country,dialect,gender,transcript_duration
114,6tzV2klm6c8,['Education'],227,UCs4nVKi0Wnol768fk4MfnfA,SA,MSA,Male,164.195556
115,poiBVJOvNzo,['Entertainment'],2621,UC2EJXBsWR_5BTCy6R4kIO3A,QA,MSA,Male,270.684444
130,Y7Eb1vkYDf0,['Entertainment'],249,UCmPewyRq8eJF9qeKjO5TGmA,DE,MSA,Male,205.302222
236,JoqeNQnDTGU,['People & Blogs'],215,UC9lOr4zfCWxSECyjWQyZI2A,UNK,MSA,Male,111.875556
269,Jwrgz7F5d_Q,['Entertainment'],368,UCVg9TNPD5vQyQL7KTKAiq7A,DZ,MSA,Female,266.324444
...,...,...,...,...,...,...,...,...
4805,5Ml2dYPmCXg,['Education'],341,UCiBGQy6seOwrCP9eumbvkjA,AE,MSA,Male,259.528000
4824,wcRmyrzmljo,['Education'],135,UCdbDIUyaDXemK4pfV6fqdcQ,DE,MSA,Male,86.577778
4871,RYgHhqt9SKM,['People & Blogs'],82,UC8JDbZZ2JJ_hkaepn1jqpzQ,JO,MSA,Male,67.324444
4901,nymlB_WcS_s,['Education'],1661,UC8TyTcK5sjO1unJqngkL_VA,PK,MSA,Male,498.324444
4911,Cdk84RRmIMo,['People & Blogs'],80,UC2mcPN2YDX31oaLnfZScx_g,UNK,MSA,Both,7.111111

In [27]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5068 entries, 0 to 5067
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   video_id             5068 non-null   object
 1   category             5068 non-null   object
 2   video_duration       5068 non-null   int64
 3   channel_id           5068 non-null   object
 4   country              5068 non-null   object
 5   dialect              5068 non-null   object
 6   gender               5068 non-null   object
 7   transcript_duration  5068 non-null   float64
dtypes: float64(1), int64(1), object(6)
memory usage: 316.9+ KB

In [29]:
train_df.sample(100)

,video_id,category,video_duration,channel_id,country,dialect,gender,transcript_duration
7,QZa2B4gRY0I,['Education'],135,UC5hQOOQ7atQ9ZX57eZ_FHgw,SA,MSA,Male,113.066667
4054,lndI1DrxxDs,['People & Blogs'],200,UCl3nMSWrD-z4g8a5yuvCurw,UNK,MSA,Male,134.222222
3988,Ty-iFw7g4Ds,['Education'],1069,UColjWvzOxaDiU74l_Nos9Vg,UNK,MSA,Male,942.871111
748,p6v659uCLp8,['Science & Technology'],139,UCAuerig2N-RZWJT8x75V9yw,US,MSA,Female,91.013333
2563,QJ3gEbF-fEU,['Science & Technology'],63,UCgnxoUwDmmyzeigmmcf0hZA,US,MSA,Male,44.562667
...,...,...,...,...,...,...,...,...
1064,yd45-cgZ9Jc,['Education'],286,UCXvgBTDHlCowFXsdcr_WqjQ,IL,MSA,Male,227.644444
2603,SmMu0W2Gviw,['Science & Technology'],616,UCsh9QVqjTw6twWy8pSQ8T3g,YE,MSA,Male,502.469333
4993,pFtmiQpkNW0,['People & Blogs'],609,UCahYlNszeMy_PHffYvgAOHg,JO,MSA,Male,500.060444
2356,rco6398ib9o,['People & Blogs'],2103,UCLFxhG3-8bloS720P9YXKcQ,UNK,MSA,Male,1803.744889
204,QIxTK9Cn5aw,['Film & Animation'],175,UCGbIR9SwByUdLHaqRWGtdmA,US,MSA,Male,128.164444